.form {
    width: 400px;
    margin: 0 auto;
  }
  
  .input_container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .input_icon {
    margin-right: 10px;
    color: #ff6b6b; /* Cor dos ícones */
  }
  
  input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  .error-message {
    color: red;
    margin-top: 10px;
  }
  
  