body {
  padding: 0;
  margin: 0;
  background-color: #000000;
}

.Container {
  display: flex;
  justify-content: left;
}

.Topo {
  width: 100%;
}

header {
  background-color: #000000;
  padding: 55px 0; /* Aumentei o padding para 20px em vez de 10px */
  border-bottom: 5px solid;
  border-color: #007FFF;

}

nav {
  display: flex;
  align-items: center;
  justify-content: center;
}

nav img {
  width: 150px;
  height: auto;
  border: 1px solid;
  border-color: white;
  border-radius: 50%;
  margin-left: 20px; /* Adicionei uma margem à direita */
}

nav span {
  color: white;
  font-size: 2rem;
  font-weight: bold;
  margin-left: 10px;
  font-family: 'Source Sans Pro', sans-serif;
}

